<div class="row justify-content-center">
  <div class="col-md-2 col-sm-4  mb-4">
    <div class="list-group">
      <%- include ../sidebar.ejs %>
    </div>
  </div>
  <div class="col-md-9 border text-center col-sm-4 px-0 pt-2">
    <h1 class="merah">Exports</h1>
    <div class="bar"></div>
    <br />
    <div class="buttoncontainer">
      <a href="/panel/admin/csv/configs.csv" class="btn btn-primary"><i class="fas fa-file-download"></i> Get Configs CSV</a>
      <a href="/panel/admin/csv/users.csv" class="btn btn-primary"><i class="fas fa-file-download"></i> Get Users CSV</a>
      <a href="/panel/admin/csv/divisions.csv" class="btn btn-primary"><i class="fas fa-file-download"></i> Get Divisions CSV</a>
      <a href="/panel/admin/csv/roles.csv" class="btn btn-primary"><i class="fas fa-file-download"></i> Get Roles CSV</a>
      <a href="/panel/admin/csv/schedules.csv" class="btn btn-primary"><i class="fas fa-file-download"></i> Get Schedules CSV</a>
    </div>
  </div>
</div>
