<div class="row justify-content-center">
  <div class="col-md-2 col-sm-4  mb-4">
    <div class="list-group">
      <a href="/panel/admin/config" class="list-group-item list-group-item-action">Configuration</a>
      <a href="/panel/admin/schedule" class="list-group-item list-group-item-action">Schedule</a>
      <a href="/panel/admin/division" class="list-group-item list-group-item-action">Division</a>
      <a href="/panel/admin/role" class="list-group-item list-group-item-action">Role</a>
      <a href="/panel/admin/user" class="list-group-item list-group-item-action">User</a>
      <a href="/panel/admin/csv" class="list-group-item list-group-item-action active">CSV</a>
    </div>
  </div>
  <div class="col-md-9 border text-center col-sm-4 px-0 pt-2">
    <a href="/panel/admin/csv/configs.csv">Get Configs CSV</a>
    <a href="/panel/admin/csv/users.csv">Get Users CSV</a>
    <a href="/panel/admin/csv/divisions.csv">Get Divisions CSV</a>
    <a href="/panel/admin/csv/roles.csv">Get Roles CSV</a>
    <a href="/panel/admin/csv/schedules.csv">Get Schedules CSV</a>
  </div>
</div>