<div class="row justify-content-center">
  <div class="col-md-2 col-sm-4  mb-4">
    <div class="list-group">
      <%- include ../sidebar.ejs %>
    </div>
  </div>
  <div class="col-md-9 border text-center col-sm-4 px-0 pt-2">
    <a href="/panel/admin/csv/configs.csv">Get Configs CSV</a>
    <a href="/panel/admin/csv/users.csv">Get Users CSV</a>
    <a href="/panel/admin/csv/divisions.csv">Get Divisions CSV</a>
    <a href="/panel/admin/csv/roles.csv">Get Roles CSV</a>
    <a href="/panel/admin/csv/schedules.csv">Get Schedules CSV</a>
  </div>
</div>