<div class="row justify-content-center">
  <div class="col-md-2 col-sm-4  mb-4">
    <div class="list-group text-sm-left">
      <a href="/panel/admin/config" class="list-group-item list-group-item-action"><i class="fa fa-cogs"></i> Configuration</a>
      <a href="/panel/admin/schedule" class="list-group-item list-group-item-action"><i class="fa fa-calendar"></i> Schedule</a>
      <a href="/panel/admin/division" class="list-group-item list-group-item-action"><i class="fa fa-users"></i> Division</a>
      <a href="/panel/admin/role" class="list-group-item list-group-item-action"><i class="fa fa-id-card-o"></i> Role</a>
      <a href="/panel/admin/user" class="list-group-item list-group-item-action"><i class="fa fa-user"></i> User</a>
    </div>
  </div>
  <div class="col-md-9 border text-center col-sm-4 px-0 pt-2">
  	<h1 class="merah"><%= title %></h1>
	<div class="bar"></div>
  	<h1>Selamat Datang</h1>
	<p class="lead">Selamat datang di Panel Admin Web Absen Eight ICT Bandung</p>
  </div>
</div>