<!DOCTYPE html>

<html>
    
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
<title><%= title %> - Eight ICT</title>
 <link rel="stylesheet" href="/stylesheets/style.css">
 <link rel="icon" href="/img/favicon.ico">
 <script src="/scripts/script.js"></script>
 </head>
<body>
		<div class="navbar">
			<ul class="navbar">
				<li class="logo"><img src="/img/logo.jpg" class="logo" ></li>
				<li class="isinavbar"><a href="/">Home</a></li>
				<%if (locals.user) {%>
				<li class="isinavbar"><a href="/logout">Logout</a></li>
				<%} else {%>
				<li class="isinavbar"><a href="/login">Login</a></li>
				<li class="isinavbar"><a href="/register">Register</a></li>
				<% } %>
				<li class="button-drop"><button onclick="showDropdown()" class="button-transparent"><img src="/img/down-icon.png" class="down-icon"></button></li>
				<div class="menu-drop" id="menu-drop">
					<li class="isidropdown"><a href="/">Home</a></li>
				<%if (locals.user) {%>
					<li class="isidropdown"><a href="/logout">Logout</a></li>
					<%} else {%>
					<li class="isidropdown"><a href="/login">Login</a></li>
					<li class="isidropdown"><a href="/register">Register</a></li>
					<% } %>
				</div>
			</ul>
		</div>
		<div class="header">
			<div class="textbox">
				<p class="title"><a>8</a><b>ICT</b></p>
				<p class="subtitle">Wahana SMA Negeri 8 Bandung</p>
			</div>
		</div>
		<div class="bodytext">
			<%- include flash.ejs %>
			<%- include(locals._template) %>
		</div>
	<div class="footer"><p>SMA Negeri 8 Bandung - 8ICT 2018</p></div>
</body>
</html> 