<h1 class="merah"><%= title %></h1>
<div class="bar"></div>
<h3>Welcome to Eight ICT</h3>
<%if (locals.user) {%>
  <p class="info_msg">
    You are logged in. <br>
    User name: <%= user.name %> <br>
    User ID: <%= user.id %> <br>
    User Role: <%= role ? role.name : '-' %>  
  </p>
  <a href="/panel"><button class="btn btn-primary" type="button">Panel</button></a>
  <a href="/logout"><button class="btn btn-primary" type="button">Logout</button></a>
<%} else {%>
  <p>You're not logged in, please log in.</p>
  <div class="buttoncontainer">
  <a href="/login"><button type="button" class="btn btn-primary">Login</button></a>
  <a href="/register"><button type="button" class="btn btn-primary">Register</button></a>
  </div>
<% } %>