<h1 class="merah"><%= title %></h1>
<div class="bar"></div>
<%- include('error'); -%>
<form method="POST" class="form">
  <%- form %>
  <button type="submit" class="button-general">Login</button>
</form>