<% include header %>
    <h1><%= title %></h1>
    <%- include('error'); -%>
    <form method="POST">
      <%- form %>
      <button type="submit" class="button-general">Login</button>
    </form>
  <% include footer %>
