<h1 class="merah"><%= title %></h1>
<div class="bar"></div>
<br>
<div class="buttoncontainer">
<a href="/panel/admin/schedule"><button class="button-general">Schedule</button></a>
<a href="/panel/admin/division"><button class="button-general">Division</button></a>
<a href="/panel/admin/role"><button class="button-general">Role</button></a>
<a href="/panel/admin/user"><button class="button-general">User</button></a>
</div>