<h1 class="merah"><%= title %></h1>
<div class="bar"></div>
<br>
<div class="buttoncontainer">
<a href="/panel/admin/schedule"><button class="btn btn-primary">Schedule</button></a>
<a href="/panel/admin/division"><button class="btn btn-primary">Division</button></a>
<a href="/panel/admin/role"><button class="btn btn-primary">Role</button></a>
<a href="/panel/admin/user"><button class="btn btn-primary">User</button></a>
</div>