<% if (locals.form) { %>
  <form method="POST" class="form">
    <%- form.fields.passkey.labelHTML() %>
    <%- form.fields.passkey.toHTML() %>
    <button type="submit" class="button-general">Attend</button>
  </form>
<% } else { %>
  <h3><%= locals.message  %></h3>
<% } %>