<h1 class="merah"><%= title %></h1>
<div class="bar"></div> <br>
<div class="border rounded bg-light">
<form method="POST" class="form">
  <%- form %>
</div> <br>
  <button type="submit" class="btn btn-success">Submit</button>
</form>
