<div class="row justify-content-center">
  <div class="col-md-2 col-sm-4  mb-4">
      <div class="list-group">
          <a href="/panel/admin/config" class="list-group-item list-group-item-action active">Configuration</a>
          <a href="/panel/admin/schedule" class="list-group-item list-group-item-action">Schedule</a>
          <a href="/panel/admin/division" class="list-group-item list-group-item-action">Division</a>
          <a href="/panel/admin/role" class="list-group-item list-group-item-action">Role</a>
          <a href="/panel/admin/user" class="list-group-item list-group-item-action">User</a>
      </div>
  </div>
  <div class="col-md-9 border text-center col-sm-4 px-0 pt-2">
    <h1 class="merah">Configuration</h1>
    <div class="bar"></div>
    <br>

    <div class="tablecontainer border bg-light">
      <table cellspacing="0" class="table bg-light">
        <thead class="thead-light">
          <tr>
            <th>Name</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <form method="POST" class="form">
            <% Object.keys(form.fields).forEach(function(field){ %>
              <tr>
                <td><%- form.fields[field].labelHTML() %></td>
                <td><%- form.fields[field].toHTML() %></td>
              </tr>
            <% }) %>
            <tr>
              <td></td>
              <td><button type="submit" class="btn btn-primary">Submit</button></td>
            </tr>
          </form>
        </tbody>
      </table>
      </div>
  </div>    
</div>
