Previous name: <%= division.name %> <br>
<form method="POST" class="form">
  <div class="border rounded bg-light">
    <%- form.fields.name.labelHTML() %>
    <%- form.fields.name.toHTML() %>
    <%- form.fields.name.errorHTML() %>
  </div> <br>
  <button type="submit" class="btn btn-success"><i class="fa fa-pencil-alt"></i> Edit</button>
</form>